0 ICON DISCARDABLE "polyphone.ico"
1 ICON DISCARDABLE "file_sf2.ico"
2 ICON DISCARDABLE "file_sf3.ico"
3 ICON DISCARDABLE "file_sfark.ico"
4 ICON DISCARDABLE "file_sfz.ico"
5 ICON DISCARDABLE "file_organ.ico"
